<h1>Welcome <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %>!!</h1>

<% @user.reservations.each do |reservation| %>
  <% @user.restaurants.each do |restaurant| %>

<%= link_to "Delete", restaurant_reservation_path(restaurant, reservation), method: :delete %>
  <p>Location: <%= restaurant.name %></p>
  <p>Address: <%= restaurant.address %></p>
  <% end %>
<% end %>

<p>Email Address: <%= @user.email %></p>
<p>Phone Number: <%= @user.phone %></p>

<%= link_to "Edit profile", edit_user_path(@user) %>

<p>Your Restaurants</p>

<% @user.owned_restaurants.each do |owned| %>
 <%= link_to owned.name, restaurant_path(owned) %></br>
<% end  %>
