<div class = "form">

  <h1>Welcome <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %>!!</h1>

  <h2> My Profile </h2>
  <p>Name: <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></p>
  <p>Email Address: <%= @user.email %></p>
  <p>Phone Number: <%= number_to_phone(@user.phone, area_code: true) %></p>

  <%= link_to "Edit profile", edit_user_path(@user) %><br /><br />

  <h2> My Reservations</h2>
  <% @user.reservations.each do |reservation| %>
  <%= link_to "Delete", restaurant_reservation_path(reservation.restaurant, reservation), method: :delete %>
  <ul>
    <li>
    Restaurant: <%= reservation.restaurant.name %></br>
    Address: <%= reservation.restaurant.location %></br>
    Date/Time: <%= reservation.time.strftime("%B %-d, %Y %-l:%M %p") %></br>
    Party size: <%= reservation.party_size %></br>
    Notes: <%= reservation.notes %>
    </li>
  </ul>
  <% end %>

  <br />
  <h2>My Restaurants | <%= link_to "Create New Restaurant", new_restaurant_path %></h2></br>

  <% @user.owned_restaurants.each do |owned| %>
    <%= link_to owned.name, restaurant_path(owned) %></br>
    <ul>
      <% owned.reservations.each do |reservation| %>
      <li>Name: <%= reservation.user.first_name %> <%= reservation.user.last_name %></br>
      Party size: <%= reservation.party_size %></br>
      Date/Time: <%= reservation.time.strftime("%B %-d, %Y %-l:%M %p") %></br>
      Notes: <%= reservation.notes %></br></br>
      <% end %>
      </li>
    </ul>
  <% end  %>
</div>
