<h1><%= image_tag(@restaurant.logo_url) %><%= @restaurant.name %></h1>
<p>
		<%= @restaurant.location %></br>
		<%= link_to "#{@restaurant.name}'s website", @restaurant.site_url %></br>
		<%= @restaurant.description %></br>
</p>



<%= form_for([@restaurant, @reservation]) do |f| %>
<p>
	<%= f.label :time %><br>
	<%= f.datetime_select :time %>
</p>
<p>
	<%= f.label :party_size %><br>
	<%= f.number_field :party_size %>
</p>
<p>
	<%= f.label :notes %><br>
	<%= f.text_area :notes %>
</p>
<p>
	<%= f.submit "Save" %>
</p>

<% end %>


<p>
	<% @reservations.each do |reservation| %>
		<%= reservation.time %></br>
		<%= reservation.party_size %></br>
		<%= reservation.notes %><br /><br />

	<% end %>
</p>
